<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>入力ページ</title>
    </head>
    <body>
        <form action="user-form" method="POST" id="back-form">
            <input name="name" type="hidden" value="{{& name}}"/>
            <input name="age" type="hidden" value="{{& age}}"/>
            <a id="back-link" href="#">&lt;&lt; 戻る</a>
        </form>

        <form action="user-complete" method="POST">
            <dl>
                <dt>ユーザ名</dt>
                <dd>{{name}}</dd>
                <dt>年齢</dt>
                <dd>{{age}}</dd>
            </dl>
            <button>完了</button>
        </form>
        <script>
         var targetForm = document.getElementById("back-form");
         document.getElementById("back-link").addEventListener(
             "click",
             function(event) {
                 event.preventDefault();
                 targetForm.submit();
             }
         )
        </script>
    </body>
</html>
